.main_container {
  background-image: url("https://images.ctfassets.net/q33z48p65a6w/miiFRONCMWzHB7nlNv0EP/127d6899a03f389f28b1fb357344a2ef/CRST-2977_DEU_Instant_Savings_Web_Homepage_fullsize_intro-background_Desktop_2880x1400_EN.png?fit=thumb&fm=webp&q=80&w=4000");
  background-size: cover;
  height: 30%;
}
