/* Section Budgeting */

.manage-budgeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(100, 170, 153);
  }
  
  .manage-budgeting-textbox {
    flex: 1 1 50%; 
    max-width: 50%;
    box-sizing: border-box;
    padding: 10em;
  }
  
  .manage-budgeting-textbox h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 16px;
  }
  
  .manage-budgeting-textbox button {
    padding: 1em 1em;
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    color: rgb(71, 127, 130);
    background-color: rgb(209, 230, 225);
    border-radius: 6px;
    cursor: pointer;
  }
  
  .manage-budgeting-textbox button:hover {
    background-color: white;
  }
  
  .manage-budgeting img  {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
  }
  
  /* Section Push Notification */
  
  .manage-push-notification {
    background-color: rgb(242, 242, 242);
  }
  
  .manage-push-notification-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  
  .manage-push-notification-textbox {
    flex: 1 1 50%; 
    max-width: 50%;
    box-sizing: border-box;
    padding: 39px;
  }
  
  .manage-push-notification-textbox h2{
    font-size: 3em;
    margin-bottom: 16px;
  }
  
  .manage-push-notification-textbox p{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 16px;
  }
  
  .manage-push-notification-textbox button {
    font-weight: 800;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .manage-push-notification-textbox button:hover {
    text-decoration: underline;
  }
  
  .manage-push-notification img  {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
  }
  
  /* Section Limits */
  
  .manage-limits {
    background-color: rgb(234, 238, 242);
  }
  
  .manage-limits video  {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
  }
  .manage-limits-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 3.5em;
    margin: auto;
  }
  
  .manage-limits-textbox {
    flex: 1 1 50%; 
    max-width: 50%;
    box-sizing: border-box;
    padding: 39px;
  }
  
  .manage-limits-textbox h2{
    font-size: 3em;
    margin-bottom: 16px;
  }
  
  .manage-limits-textbox p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
  
  /* Section Spending */
  
  .manage-spending {
    background-color: rgb(241, 235, 224);
  }
  
  .manage-spending-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  
  .manage-spending-textbox {
    flex: 1 1 50%; 
    max-width: 50%;
    box-sizing: border-box;
    padding: 39px;
  }
  
  .manage-spending-textbox h2{
    font-size: 3em;
    margin-bottom: 16px;
  }
  
  .manage-spending-textbox p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
  
  .manage-spending video  {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
  }
  
  /* Section Spaces */
  
  .manage-spaces {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 4em;
    margin: auto;
  }
  
  .manage-spaces-textbox {
    flex: 1 1 50%; 
    max-width: 50%;
    box-sizing: border-box;
    padding: 39px;
  }
  
  .manage-spaces-textbox h2{
    font-size: 3em;
    margin-bottom: 16px;
  }
  
  .manage-spaces-textbox p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
  
  .manage-spaces img  {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
  }
  
  @media screen and (max-width: 770px) {
    .manage-budgeting-textbox, .manage-push-notification-textbox, .manage-limits-textbox, .manage-spending-textbox, .manage-spaces-textbox {
      flex-basis: 100%; 
      max-width: 100%; 
      order: 2; 
    }
  
    .manage-budgeting img, .manage-push-notification img, .manage-limits video, .manage-spending video, .manage-spaces img {
      flex-basis: 100%; 
      max-width: 100%; 
      order: 1;
    }
  }
    